@model UserDetailsModel
@{
    ViewData["Title"] = Localizer["Title"];
}
<form method="post">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    @Html.DisplayForModel()
    @if (Model.Status != UserStatusModel.Deleted)
    {
        <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-secondary">
            @Localizer["Edit"]
        </a>
        <a asp-action="ChangePassword" asp-route-id="@Model.Id" data-trigger="ChangePassword" class="btn btn-outline-secondary">
            @Localizer["ChangePassword"]
        </a>
    }
    @if (Model.Status == UserStatusModel.Active)
    {
        <button asp-action="Block" asp-route-id="@Model.Id" formmethod="post" class="btn btn-outline-secondary" data-confirm="@Localizer["ConfirmBlock"]">
            @Localizer["Block"]
        </button>
    }
    else if (Model.Status == UserStatusModel.Blocked)
    {
        <button asp-action="Unblock" asp-route-id="@Model.Id" formmethod="post" class="btn btn-outline-secondary" data-confirm="@Localizer["ConfirmUnblock"]">
            @Localizer["Unblock"]
        </button>
    }
    @if (Model.Status != UserStatusModel.Deleted)
    {
        <button asp-action="Delete" asp-route-id="@Model.Id" formmethod="post" class="btn btn-outline-danger" data-confirm="@Localizer["ConfirmDelete"]">
            <i class="fa fa-trash-o"></i>
            @Localizer["Delete"]
        </button>
    }
</form>
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
@section Badge {
    <partial name="_StatusPartial" for="Status" />
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            var changePasswordModalModal$ = $('#changePasswordModal');

            $('[data-trigger=ChangePassword]').click(function () {
                var url = $(this).attr('href');
                $.get(url, function (data) {
                    $content = $('.modal-content', changePasswordModalModal$).html(data);
                    $.validator.unobtrusive.parse($content);
                    changePasswordModalModal$.modal('show');
                });
                return false;
            });
        });
    </script>
}