@model UserListModel
@{
    ViewData["Title"] = Localizer["Title"];
}
<a asp-action="Create" class="btn btn-primary">
    @Localizer["Create"]
</a>
<div class="table-responsive">
    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th>@Localizer["UserName"]</th>
                <th>@Localizer["FirstName"]</th>
                <th>@Localizer["LastName"]</th>
                <th>@Localizer["Telephone"]</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(x => x.Users.Items)
        </tbody>
    </table>
</div>
<partial name="_PaginationPartial" model="Model.Users" />
<partial name="_EmptyResultPartial" model="Model.Users" />