@{
    ViewData["Title"] = Localizer["Title"];
}
<table id="dataTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>@Localizer["UserName"]</th>
            <th>@Localizer["FirstName"]</th>
            <th>@Localizer["LastName"]</th>
            <th>@Localizer["Telephone"]</th>
        </tr>
    </thead>
</table>
<a asp-action="Create" class="btn btn-primary">
    @Localizer["Create"]
</a>
@section Scripts {
    <script>
        $(function () {
            $('#dataTable').dataTable({
                serverSide: true,
                ordering: false,
                ajax: '@Url.Action("GetData")',
                columns: [
                    { data: 'userName' },
                    { data: 'firstName' },
                    { data: 'lastName' },
                    { data: 'telephone' }
                ],
                order: [[ 0, 'asc' ]]
            });
        });
    </script>
}