@model CustomerModel
<div class="form-group row">
    <label asp-for="User" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext">
            @Html.DisplayFor(x => x.User)
        </p>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Created" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext">
            @Html.DisplayFor(x => x.Created)
        </p>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Modified" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext">
            @Html.DisplayFor(x => x.Modified)
        </p>
    </div>
</div>
<fieldset>
    <legend>@Html.DisplayNameFor(x => x.Description)</legend>
    <div class="form-group">
        <p class="form-control-plaintext">
            @Html.DisplayFor(x => x.Description)
        </p>
    </div>
</fieldset>