@model PropertyListItemModel
<tr>
    <td>
        <a asp-controller="Property" asp-action="Details" asp-route-id="@Model.Id">
            @Html.DisplayFor(x => x.Id)
        </a>
    </td>
    <td>@Html.DisplayFor(x => x.PropertyType)</td>
    <td>@Html.DisplayFor(x => x.Area)</td>
    <td>@Html.DisplayFor(x => x.Price)</td>
    <td>
        <partial name="_StatusPartial" for="Status" />
    </td>
    <td class="text-nowrap">@Html.DisplayFor(x => x.Modified)</td>
</tr>