@model PropertyModel
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            <label asp-for="TransactionType" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <p class="form-control-plaintext">
                    @Html.DisplayFor(x => x.TransactionType)
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="PropertyType" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <p class="form-control-plaintext">
                    @Html.DisplayFor(x => x.PropertyType)
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Price" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <p class="form-control-plaintext">
                    @Html.DisplayFor(x => x.Price)
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Area" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <p class="form-control-plaintext">
                    @Html.DisplayFor(x => x.Area)
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="RegionId" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <p class="form-control-plaintext">
                    @Html.DisplayFor(x => x.RegionId)
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            <label asp-for="User" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <p class="form-control-plaintext">
                    @Html.DisplayFor(x => x.User)
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="IsRestricted" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <p class="form-control-plaintext">
                    @Html.DisplayFor(x => x.IsRestricted)
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Modified" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <p class="form-control-plaintext">
                    @Html.DisplayFor(x => x.Modified)
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Created" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <p class="form-control-plaintext">
                    @Html.DisplayFor(x => x.Created)
                </p>
            </div>
        </div>
    </div>
</div>
<fieldset>
    <legend>@Html.DisplayNameFor(x => x.Description)</legend>
    <div class="form-group">
        <p class="form-control-plaintext">
            @Html.DisplayFor(x => x.Description)
        </p>
    </div>
</fieldset>