@model PropertyModel
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">@Html.DisplayNameFor(x => x.TransactionType)</label>
            <div class="col-sm-9">
                <p class="form-control-plaintext">
                    @Html.DisplayFor(x => x.TransactionType)
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">@Html.DisplayNameFor(x => x.PropertyType)</label>
            <div class="col-sm-9">
                <p class="form-control-plaintext">
                    @Html.DisplayFor(x => x.PropertyType)
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">@Html.DisplayNameFor(x => x.Price)</label>
            <div class="col-sm-9">
                <p class="form-control-plaintext">
                    @Html.DisplayFor(x => x.Price)
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">@Html.DisplayNameFor(x => x.Area)</label>
            <div class="col-sm-9">
                <p class="form-control-plaintext">
                    @Html.DisplayFor(x => x.Area)
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            <label asp-for="UserId" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <p class="form-control-plaintext">
                    @Html.DisplayFor(x => x.UserId)
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="IsVip" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <p class="form-control-plaintext">
                    @Html.DisplayFor(x => x.IsVip)
                </p>
            </div>
        </div>
    </div>
</div>
<fieldset>
    <legend>@Html.DisplayNameFor(x => x.Description)</legend>
    <div class="form-group">
        <p class="form-control-plaintext">
            @Html.DisplayFor(x => x.Description)
        </p>
    </div>
</fieldset>