@model TransactionModel
<div class="form-group row">
    <label asp-for="User" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        @Html.DisplayFor(x => x.User)
    </div>
</div>
<div class="form-group row">
    <label asp-for="TransactionType" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        @Html.DisplayFor(x => x.TransactionType)
    </div>
</div>
<div class="form-group row">
    <label asp-for="PropertyId" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <a asp-controller="Property" asp-action="Details" asp-route-id="@Model.PropertyId">
            @Html.DisplayFor(x => x.PropertyId)
        </a>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CustomerId" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <a asp-controller="Property" asp-action="Details" asp-route-id="@Model.CustomerId">
            @Html.DisplayFor(x => x.CustomerId)
        </a>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Date" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        @Html.DisplayFor(x => x.Date)
    </div>
</div>
<div class="form-group row">
    <label asp-for="Amount" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        @Html.DisplayFor(x => x.Amount) &euro;
    </div>
</div>
<div class="form-group row">
    <label asp-for="CompanyPercent" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        @Html.DisplayFor(x => x.CompanyPercent) %
    </div>
</div>
<div class="form-group row">
    <label asp-for="UserPercent" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        @Html.DisplayFor(x => x.UserPercent) %
    </div>
</div>
<div class="form-group row">
    <label asp-for="Created" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext">
            @Html.DisplayFor(x => x.Created)
        </p>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Modified" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext">
            @Html.DisplayFor(x => x.Modified)
        </p>
    </div>
</div>
<fieldset>
    <legend>@Html.DisplayNameFor(x => x.Description)</legend>
    <div class="form-group">
        <p class="form-control-plaintext">
            @Html.DisplayFor(x => x.Description)
        </p>
    </div>
</fieldset>