@model TransactionListItemModel
<tr>
    <td>
        <a asp-controller="Transaction" asp-action="Details" asp-route-id="@Model.Id">
            @Html.DisplayFor(x => x.TransactionType)
        </a>
    </td>
    <td>
        <partial name="_StatusPartial" for="Status" />
    </td>
    <td>@Html.DisplayFor(x => x.Date)</td>
    <td>@Html.DisplayFor(x => x.Amount)</td>
    <td>@Html.DisplayFor(x => x.UserAmount)</td>
    <td>@Html.DisplayFor(x => x.CompanyAmount)</td>
</tr>