@model UserModel
<div class="form-group row">
    <label asp-for="UserName" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext">
            @Html.DisplayFor(x => x.UserName)
        </p>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Role" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext">
            @Html.DisplayFor(x => x.Role)
        </p>
    </div>
</div>
<div class="form-group row">
    <label asp-for="FirstName" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext">
            @Html.DisplayFor(x => x.FirstName)
        </p>
    </div>
</div>
<div class="form-group row">
    <label asp-for="LastName" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext">
            @Html.DisplayFor(x => x.LastName)
        </p>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Telephone" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <p class="form-control-plaintext">
            @Html.DisplayFor(x => x.Telephone)
        </p>
    </div>
</div>