@model CustomerDetailsModel
@{
    ViewData["Title"] = Localizer["Title"];
}
<form method="post">
    @Html.DisplayForModel()
    <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-secondary">
        @Localizer["Edit"]
    </a>
    <button asp-action="Delete" asp-route-id="@Model.Id" formmethod="post" class="btn btn-danger">
        <i class="fa fa-trash-o"></i>
        @Localizer["Delete"]
    </button>
</form>