@model CustomerDetailsModel
@{
    ViewData["Title"] = Localizer["Title"];
}
@Html.DisplayForModel()
<partial name="_ContactsPartial" model="Model.Contacts" />
<partial name="_CommentsPartial" model="Model.Comments" />
<form method="post">
    <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-secondary">
        @Localizer["Edit"]
    </a>
    <button asp-action="Delete" asp-route-id="@Model.Id" formmethod="post" class="btn btn-outline-danger" data-confirm="@Localizer["ConfirmDelete"]">
        <i class="fa fa-trash-o"></i>
        @Localizer["Delete"]
    </button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_ContactsScriptsPartial" model="new ContactListRequestModel() { CustomerId = Model.Id }" />
    <partial name="_CommentsScriptsPartial" model="new CommentListRequestModel() { CustomerId = Model.Id }" />
}