@model PropertyPhotoIndexModel
@{
    ViewData["Title"] = Localizer["Title"];
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Property" asp-action="Details" asp-route-id="@Model.PropertyId">@Localizer["Property"] @Model.PropertyId</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Localizer["Title"]</li>
    </ol>
</nav>
<form method="post" enctype="multipart/form-data" asp-action="Create" asp-route-propertyId="@Model.PropertyId">
    <label class="btn btn-outline-primary">
        <i class="fa fa-plus"></i>
        @Localizer["Create"] <input type="file" name="photo" hidden>
    </label>
</form>
@if (Model.Photos != null && Model.Photos.Any())
{
    <div class="card-columns">
        @foreach (var photo in Model.Photos)
        {
            <div class="card @(photo.IsDefault ? "border-dark" : "")">
                <div class="card-body">
                    <a href="@Model.StorageUri/@(photo.ExternalId).jpg" data-toggle="lightbox" data-gallery="photos">
                        <img class="card-img-top" src="@Model.StorageUri/@(photo.ExternalId).jpg" />
                    </a>
                </div>
                <div class="card-footer text-center">
                    <div class="btn-group" role="group">
                        @*<a asp-action="DeletePhoto"
                               asp-route-id="@Model.PropertyId"
                               asp-route-photoId="@photo.Id"
                               class="btn btn-sm btn-danger">
                                <i class="fa fa-times"></i>
                            </a>*@
                        @*@if (!Model.IsMain)
                            {
                                <a asp-action="SetMainPhoto"
                                   asp-route-id="@Model.PropertyId"
                                   asp-route-photoId="@photo.Id"
                                   class="btn btn-sm btn-primary">
                                    <i class="fa fa-star"></i>
                                </a>
                            }*@
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">@Localizer["NoData"]</h1>
    </div>
}
@section scripts {
    <script>
        $(function () {
            $('input[type=file]').change(function () {
                $(this).closest('form').submit();
            });

            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
        });
    </script>
}