<fieldset>
    <legend>@Localizer["Title"]</legend>
    <button id="addCommentButton" class="btn btn-sm btn-outline-secondary" type="button">@Localizer["Add"]</button>
    <table id="commentsDataTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th style="width: 60%;">@Localizer["Text"]</th>
                <th>@Localizer["User"]</th>
                <th>@Localizer["Created"]</th>
            </tr>
        </thead>
    </table>
</fieldset>