@using Microsoft.AspNetCore.Localization
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Localizer["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/ekko-lightbox/ekko-lightbox.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-azvvU9xKluwHFJ0Cpgtf0CYzK7zgtOznnzxV4924X1w=" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
              asp-fallback-href="~/lib/ekko-lightbox/ekko-lightbox.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-HAaDW5o2+LelybUhfuk0Zh2Vdk8Y2W2UeKmbaXhalfA=" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Title"]</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-active-class="active" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-active-class="active" asp-area="" asp-controller="Property" asp-action="Index">
                                <i class="fa fa-home"></i>
                                @Localizer["Properties"]
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-active-class="active" asp-area="" asp-controller="Customer" asp-action="Index">
                                <i class="fa fa-briefcase"></i>
                                @Localizer["Customers"]
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-active-class="active" asp-area="" asp-controller="Transaction" asp-action="Index">
                                <i class="fa fa-dollar"></i>
                                @Localizer["Transactions"]
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-active-class="active" asp-area="" asp-controller="User" asp-action="Index">
                                <i class="fa fa-users"></i>
                                @Localizer["Users"]
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <h1>
                @ViewData["Title"]
                @RenderSection("Badge", required: false)
            </h1>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - TTI
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/ekko-lightbox/ekko-lightbox.js"></script>
        <script src="~/lib/cldrjs/cldr.js"></script>
        <script src="~/lib/cldrjs/cldr/event.js"></script>
        <script src="~/lib/globalize/globalize.js"></script>
        <script src="~/lib/globalize/globalize/number.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/twitter-bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-63ld7aiYP6UxBifJWEzz87ldJyVnETUABZAYs5Qcsmc=">
        </script>
        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/lib/ekko-lightbox/ekko-lightbox.min.js" asp-append-version="true"></script>
        <script src="~/lib/cldrjs/cldr.min.js" asp-append-version="true"></script>
        <script src="~/lib/cldrjs/cldr/event.min.js" asp-append-version="true"></script>
        <script src="~/lib/globalize/globalize.min.js" asp-append-version="true"></script>
        <script src="~/lib/globalize/globalize/number.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $.extend($.fn.datepicker.defaults, {
            language: '@requestCulture.RequestCulture.UICulture.TwoLetterISOLanguageName'
        });

        $.when(
            $.get('@Url.Content("~/cldr-data/supplemental/likelySubtags.json")'),
            $.get('@Url.Content($"~/cldr-data/main/{requestCulture.RequestCulture.UICulture.TwoLetterISOLanguageName}/numbers.json")')
        ).then(function () {
            return [].slice.apply(arguments, [0]).map(function (result) {
                return result[0];
            });
        }).then(Globalize.load).then(function () {
            Globalize.locale('@requestCulture.RequestCulture.UICulture.TwoLetterISOLanguageName');
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
